* {
  margin: 0;
  padding: 0;
  }
img{
    max-width: 100%;
    display: block;
    height: auto;
  }

  /* This is Navigation tab */
  .navCon {
    display: flex;
    border: 2px solid black;
  }

  /* Styling for nav logo */
  .logo{
    width: 7rem;
    height: 3rem;
    border: 2px solid red;
  }
    
    /* Hide the links inside the navigation menu (except for logo) */
    .navCon #myLinks {
      display: none;
    }
    
    /* Style navigation menu links */
    .navCon a{
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      text-align: center;
      font-size: 17px;
      display: block;
      background-color: blue;
    }
    
    /* Style the hamburger menu */
    .navCon a.icon{
      background:white;
      color: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;   
    }
    
    /* Add a grey background color on mouse-over */
    .navCon a:hover {
      background-color: #ddd;
    }
    
    /* Style the active link (or home/logo) */
    .active {
      color: white;
    }