* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* This is the top navigation styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position:absolute;
}

.container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.logo {
    width: 18%;
}

.logo img {
    max-height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
nav a{
    text-decoration: none;
}

/* nav a.icon{
    display: none;
} */

/* This is for the hamburger menu */
@media screen and (max-width: 480px){

    /* hides nav links */
nav{
    display: none;
}

/*style nav menu*/
nav{
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
}


/* style nav menu links */
.ham a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* styles ham menu */
nav a.icon{
    background: lightgray;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* when hover on */
nav a:hover {
background-color: #ddd;
color: black;
}

/* the 3 dash line link style */
.active{
    background-color: blue;
    color: greenyellow;
}

/* .icon{
    display:block;
} */
}