*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* container */
/* .container{
    width: 384px;
    height: fit-content;
    border: black solid 15px;
} */
/* container */

/* navigation top */
.topnav{
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 50px;
    align-items: center;
    height: auto;
    overflow: hidden;
    position: relative;
}
.logo{
    padding:5% 0 3% 4%;
    max-width: 40%;
}
p{
    color: black;
    font-size: medium;
    padding:3% 2% 0 0;
}
.topnav #myLinks {
      display: none;
}
.nav a.icon {
      color: black;
      background-color: rgba(255, 255, 255, 0);
}
.nav a:hover {
    color: orange;
}
.topnav a {
    background-color: rgba(255, 166, 0, 0.539);
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    position: relative;
    top: auto;
}
/* naviagtion top */

/* main */
main{
margin-top: auto;
}
.div1{
background-image: url(/images/EVE-17.jpg);
background-size: cover;
height: 250px;
display: flex;
align-items: center;
justify-content: center;
}
.div1 p{
color: white;
text-align: center;
font-style: italic;
font-size: large;
}
/* Description */

/* Event Planning */
.div2{
margin-top: 5%;
padding-left: 4%;
}
.EventPlanningHeader{
text-align: center;
font-style: italic;
font-size: x-large;
font-weight: bold;
}
.EventPlanningImg1{
margin: 4% 3% 0 0;
width: 95%;
background-image: url(/images/EVE-19.jpg);
/* opacity: 0.5; */
background-size: 100%;
border-radius: 10px;
}

.EventPlanningImg1 p{
    padding: 8% 8% 2% 8%;
}
.divInner{
    display: flex;
    justify-content: center;
    padding-bottom: 9%;
}
.p02{
    color: orange;
    text-decoration: double;
    border-radius: 8px;
    padding: 3px 20px 3px 20px;
    border: solid 1px orange;
    border-width: 3px;
    font-style: italic;
}
.p02:hover{
    color: white;
    background-color: orange;
}
/* Event Planning */


/* footer */
img{
    max-width: 100%;
    display: block;
}
footer{
    margin-top: 10%;
    background-color: rgba(255, 166, 0, 0.52);
}
.inner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    font-size: 150%;
}
.ll{
    padding-top: 28%;
}
.fa{
    font-size: 82px;
}
.fa-instagram{
    margin-left: 10%;
}
.s img{
    max-width: 80%;
}
.footer1{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    font-size: 150%;
}
.footer2{
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.footer2 a{
    color: black;
}
.hh{
    color: green;
    font-size: 20px;
}
.inner2-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    height: 150px;
}
.fContactus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    height: 150px;
}
.inner2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cc{
    text-align: center;
    padding: 1% 1% 2% 1%;
}
/* footer */